

$alt1atp: 3%;
$alt2atp: 9%;
$alt3atp: 12%;
$alt4atp: 6%;


$alto1a: 385px;
$alto2a: 500px;
$alto3a: 560px;

%conf1{

	height: 500px;
	top: 4%;
}

%conf2{

	height: 500px;


}


.gen{	
	display: block;
	position: relative;
	width: 1000px;

	&-bloque1a{	
	
		height: $alto1a;
		top: $alt1atp;
	
	}


	&-bloque2a{
	
		height: $alto2a;
	        top: $alt2atp;
	}

	&-bloque3a{

		height: $alto2a;
        	top: $alt3atp;

	}

	&-bloque1b{
		@extend %conf1;
			
			
	}

	&-bloque2b{

		@extend %conf2;	
	}

	
	&-bloque1c{

		height: $alto1a;
		top: $alt1atp;

		
	}

	&-bloque2c{

		height: $alto2a;
	        top: $alt2atp;

	}

	
	&-bloque1d{

		height: $alto3a;
		top: $alt1atp;
		
			
	}

	&-bloque2d{
		height: $alto2a;
		top: $alt2atp;
		
			
	}

	&-bloque3d{
		height: $alto2a;
		top: $alt2atp;
		
			
	}


}

%secc{
	display: inline-block;
	position: absolute;
}


.secc1{
	@extend %secc; 
	right: -75%;
	width: 73%;
	@extend %borde1;

}

.secc2{

	@extend %secc;
	width: 64%;
	left: 10%;
	@extend %borde1;
}

#secc22{
	
	@extend %secc;
	width: 82%;
	left: 10%;
	@extend %borde1;
	
	}

img{
	display: block;
	margin: auto;

}




%borde1{
	padding: 3px 10px;
	border: PowderBlue 5px solid;
	border-radius: 20px;	

}

#secc22a{

	@extend %secc;
	width: 64%;
	left: 10%;
	top: 24%;
	@extend %borde1;
}


#secc11b{

	@extend %secc;
	right: -75%;
	width: 73%;
	top: 15%;
	@extend %borde1;

}

#secc11c{
	
	@extend %secc;
	right: -75%;
	width: 73%;
	top: 36%;
	@extend %borde1;

}







h1{
	text-align: center;



}

h2{
	text-align: center;


}
